<div class="flex flex-col px-5 pt-5">
  <a
    class="cursor-pointer font-cairo font-extrabold text-[14px] leading-[1] tracking-normal text-center text-[#0047BA] h-[48px] border border-[#0047BA] rounded-[8px] mt-[8px] py-4 transition-colors duration-300 hover:bg-[#0047BA] hover:text-[#F8FAFC]"
    >Telegram bot orqali yuklab olish</a
  >
  <a
    class="cursor-pointer font-cairo font-extrabold text-[14px] leading-[1] tracking-normal text-center text-[#0047BA] h-[48px] border border-[#0047BA] rounded-[8px] mt-[8px] py-4 transition-colors duration-300 hover:bg-[#0047BA] hover:text-[#F8FAFC]"
    >Yuklab olish</a
  >
  <a
    class="cursor-pointer font-cairo font-extrabold text-[14px] leading-[1] tracking-normal text-center text-[#0047BA] h-[48px] border border-[#0047BA] rounded-[8px] mt-[8px] py-4 transition-colors duration-300 hover:bg-[#0047BA] hover:text-[#F8FAFC]"
    >Havolasini saqlash</a
  >
</div>
